
$mainColors: (
  primary: (
    main: #e1bee7,
    light: #fff1ff,
    dark: #af8eb5
  ),
  secondary: (
    main: #f8bbd0,
    light: #ffeeff,
    dark: #c48b9f
  ),
  green: (
    main: green
  ),
  red: (
    main: red
  )
);